{{#if result.action}}
<h2>{{result.action}} - {{event.what}}</h2>
{{else if event.what}}
    <h2>Edit - {{event.what}}</h2>
{{/if}}

{{#if event.what}}
<form method="POST" action="/add">
    <input type="text" name="event" placeholder="event" value="{{event.what}}" >
    <input type="text" name="place" placeholder="place"  value="{{event.where}}">
    <input type="text" name="time" placeholder="time" value="{{event.time}}" >
    <input type="date" name="date" placeholder="date"  value="{{event.when}}">

    <button>{{#if event.what}}Update{{else}}Add{{/if}}</button>
    <button>Delete</button>
</form>
{{/if}}

<script>
    $(document).ready(function(){
        var buttons = $('button');
        buttons.on('click', function() {
            var $this = $(this);
            var action = $this.text().toLowerCase();
            if (action == 'update') { action = 'add'; }
            $("form").attr("action", "/"+action);
        });
    });
</script>